<!DOCTYPE html5>
<div ng-controller="homeCtrl">
  <div class="hot-products">
    <video controls loop autoplay="autoplay" width="100%"  muted poster="https://d2zy73x1fg2nl6.cloudfront.net/images/hp/Prontovintage---desktopx1920.jpg">
      <!-- <source src="https://d2zy73x1fg2nl6.cloudfront.net/images/hp/ProntoVintage_edit_jk%20HP-compressed.mp4" type="video/mp4">
      <source src="https://d2zy73x1fg2nl6.cloudfront.net/images/hp/ProntoVintage_edit_jk_HP.webm" type="video/webm"> -->
      <source src="https://d2zy73x1fg2nl6.cloudfront.net/images/hp/ProntoKnit_Full_final_hp_hero.mp4" type="video/mp4">
      <source src="https://d2zy73x1fg2nl6.cloudfront.net/images/hp/ProntoKnit_Full_final_hp_hero.webm" type="video/webm">
    </video>
    <img src="/app/assets/images/hot-picture.jpg">    
  </div>
  <div class="bg-transparent-section new-products">
    <div class="title text-center">
      <h2>NEW ARRIVALS</h2>
    </div>
    <div class="products items row m-0">
      <div class="product product-style item col-6 col-md-3" ng-repeat="item in newProducts" ui-sref="homepage.detail({catalogName: item.catalogName, categoryName: item.categoryName, productName: item.urlName, productId: item.id})">
        <div class="image">
          <img ng-class="item.image === null ? 'defaul-image' : null" ng-src="/app/assets/images/{{ item.image !== null ? item.image : 'G-Knit-2-Cadet-Product-01_280x188.jpg' }}">
          <div class="price text-center">
            <p>${{ item.price }}</p>
          </div>
        </div>
        <div class="name text-center">
          <p ng-bind="item.name"></p>
          <p ng-bind="item.catalogNameCapitaled"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="our-story">
    <div class="image" ui-sref="homepage.about">
      <img src="/app/assets/images/2048X720_STOREFRONT_MIX_BW_2000x2000.jpg">
    </div>
    <div class="info-container">
      <div class="info">
        <h2 class="title">THE HELM STORY</h2>
        <h3 class="short-description">
          Since 2009 we've crafted boots with pride, care, and purpose to deliver the ultimate boot to keep you going forward steady, secure, and stable.        
        </h3>
        <div class="see-more-btn" ui-sref="homepage.about">
          <h6>SEE MORE</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="catalog bg-transparent-section">
    <div class="title text-center">
      <h2>THE HELM CATALOG</h2>
    </div>
    <div class="items row m-0">
      <div class="item col-6" ng-repeat="item in menu" ui-sref="homepage.catalog({catalogName: item.title})">
        <div class="image">
          <img ng-src="/app/assets/images/{{ item.image }}">
        </div>
        <div class="name text-center">
          <h4 ng-bind="item.title.toUpperCase()"></h4>
        </div>
      </div>
    </div>
  </div>
</div>