<!DOCTYPE html5>
<div class="contact-container" id="contact-container" ng-controller="contactCtrl">
  <div class="row m-0">
    <div class="col-1 col-md-2 "></div>
    <div class="contact-form col-10 col-md-8  ">
      <div class="info-container">
        <center class="title p-4">
          <h2>Contact us</h2>
        </center>
        <div class="info">
          <p>CONTACT - contact@helmboots.com</p>
          <p>LOCATION - 1200 E 11th St. Suite 101 Austin, Tx. 78701</p>
          <p>PHONE - 512-609-8150 </p>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12 col-md-6">
          <input type="text" class="form-control" placeholder="Name" ng-model="contact.name">
        </div>
        <div class="form-group col-12 col-md-6">
          <input type="email" class="form-control" placeholder="Email" ng-model="contact.email">
        </div>
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="15" id="txt-area" placeholder="Tell us your opinion or any questions ..." ng-model="contact.message"></textarea>
      </div>
      <center>
        <div class="send-btn form-control" ng-click="_submitContactForm(contact)">SEND</div>
        <!-- Modal -->
        <div class="modal fade" id="contactVerifyModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <p>Thank you for your contact. We will response you as soon as possible.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
      </center>
    </div>
    <div class="col-1 col-md-2 "></div>
  </div>
</div>