.content-container {
  position: relative;
  font-family: "GothamBook",Verdana,Helvetica,Arial,sans-serif;

  .line-height {
    line-height: 1.5;
  }

  .text-center {
    text-align: center;
  }

  .bg-transparent-section {
    padding: 100px;

    @media (max-width: 800px) {
      padding-right: 50px;
      padding-left: 50px;
    }

    @media (max-width: 700px) {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    .title {
      margin-bottom: 50px;

      h2 {
        letter-spacing: 0.1em;
        font-weight: 400;  
      }
    }

    .name {
      margin-bottom: 10px;

      h4 {
        @extend .line-height;      
      }
    }

    .item {
      
      &:hover {
        cursor: pointer;
        filter: opacity(0.6);
      }
    }
  }

  .hot-products {
    
    .carousel-item {
      height: 100vh;

      &:hover {
        cursor: pointer;
      }
    }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .new-products {

    @media (max-width: 640px) {
      padding: 50px 20px;
    }

    .title {

      @media (max-width: 578px) {
        margin-bottom: 25px;
      }

      h2 {
        font-size: 30px;
      }
    }

    .price {
      font-size: 18px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .info {

      h4, p {

        @media (max-width: 1038px) {
          font-size: 20px;          
        }
  
        @media (max-width: 918px) {
          font-size: 16px;
        }

        @media (max-width: 799px) {
          font-size: 14px;
        }

        @media (max-width: 578px) {
          font-size: 12px;
        }
      }
    }
  }

  .our-story {
    position: relative;
    
    img {
      width: 100%;
      object-fit: cover;
    }

    .info-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.4);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-breakpoint-down(md) {
        padding: 30px;
      }

      .info {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .title {

        @include media-breakpoint-down(md) {
          font-size: 20px;
        }
      }

      .short-description {
        @extend .line-height;
        margin: 50px 0;
        text-align: center;

        @include media-breakpoint-down(md) {
          margin: 25px 0;
          font-size: 16px;
        }

        @media (max-width: 640px) {
          margin: 15px 0;
        }

        @include media-breakpoint-down(sm) {
          font-size: 12px;
        }
      }

      .see-more-btn {
        background-color: white;
        color: black;
        padding: 10px 20px;
        border-radius: 4px;

        &:hover {
          cursor: pointer;
          filter: opacity(0.65);
        }

        @media (max-width: 640px) {
          padding-top: 8px;
          padding-bottom: 8px;
        }

        h6 {

          @media (max-width: 900px) {
            font-size: 12px;
          }

          @include media-breakpoint-down(sm) {
            font-size: 10px;
          }
        }
      }
    }
  }

  .catalog {

    .image {
      display: flex;
      justify-content: center;
    }
  }

  .pagination {
    margin: 100px;
    margin-bottom: 0;
    justify-content: center;

    li {
      margin: 0 10px;
      padding: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    a {
      color: black;        

      &:hover {
        text-decoration: none;
      }
    }

    .active {
      filter: opacity(0.5);
    }
  }

  .product-detail-container {
    padding-bottom: 100px;

    .image-container {
      display: flex;
      justify-content: center;
    }

    .price, .option {
      margin: 20px 0;
    }

    .cart {
      display: flex;
      align-items: flex-end;
      text-align: center;
    }

    .cart-btn {
      background-color: #34495e;
      color: white;

      &:hover {
        cursor: pointer;
        filter: opacity(0.8);
      }
    }
  }
}