.footer-container {

  .hover {
    cursor: pointer;
    filter: opacity(0.5);
  }
  
  .networking {
    background-color: #ecf0f1;
    padding: 50px;
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(md) {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    label {
      margin: 0 20px;
      font-size: 2em;

      &:hover {
        @extend .hover;
      }
    }
  }

  .info {
    padding: 50px 0 20px 0;

    .menu {
      margin-bottom: 50px !important;
    }

    .menu-item {
      text-align: center;

      &:hover {
        @extend .hover;
      }

      h5 {

        @include media-breakpoint-down(sm) {
          font-size: 16px;
        }
      }
    }

    .copyright {
      text-align: center;
    }
  }
}