.footer-container {
  position: relative;

  .hover {
    cursor: pointer;
    filter: opacity(0.5);
  }
  
  .networking {
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 20px;

    label {
      margin: 0 20px;

      &:hover {
        @extend .hover;
      }
    }
  }

  .info {
    padding: 50px 0 20px 0;

    @media (max-width: 400px) {
      padding-top: 25px;
    }

    .menu {
      margin-bottom: 50px !important;

      @media (max-width: 400px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px !important;
      }
    }

    .menu {
      display: flex;
      justify-content: space-around;

      @media (max-width: 400px) {
        flex-direction: column;
      }
    }

    .menu-item {

      @media (max-width: 400px) {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      &:hover {
        @extend .hover;
      }
    }

    .copyright {
      text-align: center;
      font-size: 16px;
    }
  }

  .footer-cover-bg {
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.4);
    position: absolute;
    z-index: 999;
  }
}