.background {
  background-color: white;
  color: black !important;
  border-bottom: 1px solid #ecf0f1;
  
  img {
    filter: invert(0) !important;
  }
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  color: white;
  padding: 20px;

  .active {
    filter: opacity(0.5);
  }

  .button-hover {
    cursor: pointer !important;
    filter: opacity(0.5);    
  }

  .header-left {

    img {
      filter: invert(1);
    }

    &:hover {
      @extend .button-hover;
    }
  }

  .header-center {
    display: flex;
    align-items: center;

    .menu {
      width: 100%;

      p {
        text-align: center;

        &:hover {
          @extend .button-hover;
        }
      }
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .header-right-item {
      margin-left: 20px;
      font-size: 22px;

      &:hover {
        @extend .button-hover;
      }
    }
  }
}