.background {
  background-color: white;
  color: black !important;
  border-bottom-color: #ecf0f1 !important;
  transition: all 0.5s linear;
  
  img {
    filter: invert(0) !important;
    transition: all 0.5s;
  }
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  color: white;
  padding: 20px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s linear;

  @media (max-width: 500px) {
    padding: 10px;
  }

  .active {
    filter: opacity(0.5);
  }

  .button-hover {
    cursor: pointer;
    filter: opacity(0.5);    
  }

  .header-left {

    img {
      filter: invert(1);

      @media (max-width: 545px) {
        width: 100%;
      }
    }

    &:hover {
      @extend .button-hover;
    }
  }

  .header-center {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xs) {
      display: none;
    }

    .menu {
      width: 100%;

      p {
        text-align: center;

        &:hover {
          @extend .button-hover;
        }
      }
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .menu-bar {
      display: none;

      @include media-breakpoint-down(xs) {
        display: block;
      }
    }

    .header-right-item {
      margin-left: 20px;

      // &:hover {
      //   @extend .button-hover;
      // }

      @include media-breakpoint-down(xs) {
        font-size: 20px;
      }
    }

    .cart-container {

      label {
        position: relative;
      }

      span {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        background: #2980b9;
        color: white;
        border-radius: 50%;
        position: absolute;
        top: 10%;
        right: 0;

        @media (max-width: 500px) {
          top: 3%;
        }
        
        @media (max-width: 400px) {
          top: -6%;
        }
      }
    }

    .search-container:hover {
      filter: none;
    }

    .search-form-inline {
      display: flex;
      flex-direction: row-reverse;

      span {
        border: 1px solid #bdc3c7;
        border-radius: 4px;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-right: 8px;
      }

      input {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 200px !important;
      }

      .search-form-bg {
        border-color: #bdc3c7;
        transition: none;
      }
    }
  }

  .categories-container {
    background-color: rgba(255,255,255,0.95);
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: auto;

    @include media-breakpoint-down (lg) {
      width: 80%;      
    }

    @include media-breakpoint-down (md) {
      width: 100%;      
    }

    @include media-breakpoint-down (xs) {
      display: none;
    }

    .category {
      margin: 20px 30px;

      &:hover {
        @extend .button-hover;
      }
    }
  }
}