.header-container {
  // background-color: antiquewhite;  

  .button-hover {
    cursor: pointer;
  }

  .header-center {
    // background-color: aliceblue;
    display: flex;
    align-items: center;

    .menu {
      width: 100%;
      // background-color: antiquewhite;

      p {
        text-align: center;

        &:hover {
          @extend .button-hover;
        }
      }
    }
  }

  .header-right {
    // background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .header-right-item {
      margin-left: 20px;
      font-size: 22px;

      &:hover {
        @extend .button-hover;
      }
    }
  }
}