<!DOCTYPE <html>
<div class="footer-container" id="footer-container" ng-controller="homepageFooterCtrl">
  <div class="footer-cover-bg" ng-if="openCategoriesDialog" ng-click="_onFooterClick()"></div>
  <div class="networking">
    <label>
      <i class="fa fa-facebook-square"></i>
    </label>
    <label>
      <i class="fa fa-twitter"></i>      
    </label>
    <label>
      <i class="fa fa-instagram"></i>      
    </label>
  </div>
  <div class="info">
    <div class="menu row m-0">
      <div class="menu-item col-4" ng-repeat="item in menu" ui-sref="{{ item.href }}">
        <h5 ng-bind="item.title.toUpperCase()"></h5>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2017 HELM</p>
    </div>
  </div>
</div>