.header {
  background-color: #34495e;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ecf0f1;

  .menu-btn, .setting-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-btn:hover, .setting-btn:hover {
    cursor: pointer;
  }

  .search-icon {
    margin: 0;
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .search-box-container {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
  }
}