.header {
  background-color: #34495e;
  padding: 20px 0;
  color: #ecf0f1;

  @media (max-width: 360px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu-btn, .setting-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-btn:hover, .setting-btn:hover {
    cursor: pointer;
  }

  .search-box {

    .search-box-container {
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
  
      .search-icon {
        margin: 0;
        padding-right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
  
        @media (max-width: 360px) {
          margin-right: 10px;
        }
      }
  
      @media (max-width: 360px) {
        justify-content: flex-end;
        
        .search-form {
          display: none;        
        }
      }
    }

    @media (max-width: 360px) {
      max-width: 75%;
    }
  }
}