body {
  background-color: #ecf0f1;
  overflow-y: hidden;
  overflow-x: hidden;
}

a, a:hover, a:focus {
  text-decoration-line: none;
}

p {
  margin-bottom: 0;
}

.content-container {
  height: 100vh;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ecf0f1; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ecf0f1; 
}