<!DOCTYPE html>
<div class="main-content" ng-controller="adminContentCtrl">
  <div class="row m-0 justify-content-around h-100">
    <div class="left-container col-12 col-sm-6">
      <p class="introduction">Create shoe category, such as sandal, boot, high-heeled, ....</p>
      <div class="row m-0">
        <div class="col-1 col-sm-1 col-lg-2"></div>
        <div class="form col-10 col-sm-10 col-lg-8">
          <div class="form-group">
            <label for="name">Category name</label>
            <input class="form-control" name="name" id="name" placeholder="Enter shoe category name ..." ng-model="name">
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" ng-model="gender">
              <option>male</option>
              <option>female</option>
              <option>both</option>
            </select>
          </div>
          <div class="submit form-group">
            <button type="submit" class="btn btn-sm btn-primary">Create</button>  
          </div>                 
        </div>
        <div class="col-1 col-sm-1 col-lg-2"></div>
      </div>
    </div>
    <div class="underline"></div>
    <div class="right-container col-12 col-sm-6">
      <p class="title introduction">Categories</p>
      <div class="row m-0">
        <div class="col-2 col-sm-1 col-lg-2"></div>
        <div class="list col-8 col-sm-10 col-lg-8 p-0" id="list">
          <div class="list-item row m-0" ng-repeat="item in list">
            <div class="title col-9 col-sm-8 col-xl-9" id="title">
              <p ng-bind="item.title"></p>
            </div>
            <div class="modify col-3 col-sm-4 col-xl-3">
              <div class="row">
                <span class="edit-icon col-6">
                  <i class="fa fa-pencil"></i>
                </span>
                <span class="delete-icon col-6">
                  <i class="fa fa-times"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 col-sm-1 col-lg-2"></div>
      </div>
    </div>
  </div>
</div>