<!DOCTYPE html5>
<div class="catalog-container" id="catalog-container" ng-controller="catalogCtrl">
  <div class="title-container">
    <div class="title">
      <p ng-bind="catalog.title"></p>
    </div>
    <div class="image">
      <img class="w-100" ng-src="{{ catalog.image }}">
    </div>
  </div>
  <div ng-repeat="category in categories">
    <div class="new-products bg-transparent-section">
      <div class="title text-center" ui-sref="homepage.category({catalogName: catalog.name, categoryName: category.urlName, categoryId: category.id})">
        <h2 ng-bind="category.name"></h2>
      </div>
      <div class="products items row m-0">
        <div class="product product-style item col-6 col-sm-4 col-md-3" ng-repeat="item in category.products | limitTo: 8" ui-sref="homepage.detail({catalogName: catalog.name, categoryName: category.urlName, productName: item.urlName, productId: item.id})">
          <img ng-src="/app/assets/images/{{ item.image !== undefined ? item.image : 'product-default.png' }}">
          <div class="info">
            <div class="name text-center">
              <p ng-bind="item.name"></p>
            </div>
            <div class="price text-center">
              <p>${{ item.price }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="underline" ng-if="$index !== categories.length - 1"></div> 
  </div>
</div>