<!DOCTYPE html5>
<div class="authen-styles register-container" id="register-container" ng-controller="registerCtrl">
	<div class="row m-0">
		<div class="col-1 col-sm-3 col-xl-4"></div>
		<div class="col-10 col-sm-6 col-xl-4">
			<div class="register">
				<h2>Create Account</h2>
			</div>
			<div class="register-form">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Firstname" ng-model="user.firstname">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Lastname" ng-model="user.lastname">
				</div>
				<div class="form-group">
					<input type="email" class="form-control" placeholder="Email" ng-model="user.email">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" ng-model="user.password">
				</div>
				<div class="text-center">
					<input type="submit" class="btn" value="CREATE" ng-click="_registerAccount(user)">
				</div>
			</div>
		</div>
		<div class="col-1 col-sm-3 col-xl-4"></div>
	</div>
</div>