<!DOCTYPE html5>
<div class="authen-styles login-container" id="login-container" ng-controller="loginCtrl">
	<div class="row m-0">
		<div class="col-1 col-sm-3 col-xl-4"></div>
		<div class="col-10 col-sm-6 col-xl-4">
			<div class="login">
				<h2>Login</h2>
			</div>
			<div class="login-form">
				<!-- Submit fail -->
				<div class="fail-submition">
					<small class="text-danger" ng-bind="message"></small>
				</div>
				<!-- End submit fail -->

				<!-- Email -->
				<div class="form-group">
					<input type="email" class="form-control" placeholder="Email" ng-model="user.email">
				</div>
				<!-- End Email -->

				<!-- Password -->
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" ng-model="user.password">
				</div>
				<!-- End Password -->
			</div>
			<div class="text-center">
				<p class="btn-hover" ui-sref="homepage.forgot">Forgot your password?</p>
				<input type="submit" class="btn" value="SIGN IN" ng-click="_login(user)">
				<p class="btn-hover" ui-sref="homepage.register">Create account</p>
			</div>
		</div>
		<div class="col-1 col-sm-3 col-xl-4"></div>
	</div>
</div>